*{
    margin: 0;
    padding: 0;

}

button{
    background-color: #202124;
    color: white;
    border: 0;
    margin: 16px;
    cursor: pointer;
}

button:hover{
    text-decoration: underline;
}


body{
    display: flex;
    flex-direction: column;
    background-color: #202124;
}

nav{
    display: flex;
    flex-direction: row;
    height: 51px;
    gap: 20px;
}

.nav_izq{
    display: flex;
    width: 50vw;
}

.nav_der{
    display: flex;
    width: 50vw;
    justify-content: end;
}

.nav_der i{
    padding: 0%;
}

header{
    width: 99vw;
}

.header_logo{
    color: white;
}

.header_logo p{
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 90px;
    margin-bottom: 30px;
    font-weight: 500;
}

main > .busqueda{
    align-items: center;
    align-content: center;
    justify-content: center;
}

.azul{
    color: #89C3FF;
    cursor: pointer;
}

.azul:hover{
    text-decoration: underline;
}

.pointer{
    cursor: pointer;
}

.pointer:hover{
    text-decoration: underline;
}

.busqueda{
    margin-left: 28%;
    background-color: #4D5156;
    width: 44%;
    height: 50px;
    color: white;
    display: flex;
    flex-direction: row;
    border-radius: 50px;
}

.busqueda:hover{
    background-color: #74797f;
}

.main_bar i{
    justify-content: center;
}

i{
    padding: 16px;
    width: 16px;
    min-width: 16px;
    height: 100%;
    cursor: pointer;
    opacity: 65%;
}

.minus8pxr{
    padding-right: 8px;
}

.minus8pxl{
    padding-left: 8px;
}


.center{
    display: block;
    margin-top: 16px;
    text-align: center;
}

.center button{
    background-color: #303134;
    padding: 8px 16px 8px 16px;
    border: 1px solid #303134;
    border-radius: 4px;
    margin: 5px;
    text-decoration: none;
}

.center button:hover{
    border: 1px solid #5F6368;
}


main p{
    margin-top: 20px;
}

.idiomas{
    font-family: "Arial", sans-serif;
    margin-top: 45px;
    color: #BFBFBF;
    text-align: center;
    font-size: 13px;
}

input{
    width: 100%;
    height: 50px;
    background-color: #4D5156;
    opacity: 0%;
    border: 0;
    color: white;
}

input:focus {
    outline: none; /* Removes the default focus outline */
    border: 0; /* Ensures no border appears on focus, though 'border: 0' above already handles this for the base state */
    box-shadow: none; /* Removes any potential shadow that might appear on focus */
}

.main_bar{
    display: flex;
    width: 100vw;
}

.section_pais{
    color: white;
    background-color: #171717;
    margin-top: 40px;
    padding: 15px;
    border-bottom: 1px solid #4D5156;
}

.section_final{
    color: white;
    background-color: #171717;
    padding: 18px;
    text-align: center;
}

.footer_izq{
    display: flex;
    width: 50vw;
}

.footer_der{
    display: flex;
    width: 50vw;
    justify-content: end;
}

footer{
    float: inline-end;
    display: flex;
    flex-direction: row;
    width: 100vw;
    gap: 20px;
    background-color: #171717;
}