<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./static/css/style.css">
</head>

<body>
    <header>
        <img id="logo" src="https://picsum.photos/150" alt="">
        <h1>Video Juegos</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi placeat earum nam sint quisquam repellat quia
            recusandae illum dignissimos quidem.</p>
        <div class="clearfix"></div>
        <button>Compra ya!</button>
    
    </header>
    <!-- <div class="hero">
        <img src="https://picsum.photos/1200/300" alt="">
    </div>
    <div class="hero2"> -->

    </div>
    <nav>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="#productos">Productos</a></li>
            <li><a href="">About me</a></li>
            <li><a href="">Contactar</a></li>
        </ul>
    </nav>
    <main>
        <section id="productos">
            <div class="cards">
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div><div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
            </div>
        </section>
        <section>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit magni consequatur nihil aliquam
                exercitationem corrupti suscipit molestias sed nulla vero, odit deserunt. Quo, iusto beatae!</p>
        </section>
    </main>
    <aside>
        <ul>
            <li>Categoria1</li>
            <li>Categoria2</li>
            <li>Categoria3</li>
            <li>Categoria4</li>
            <li>Categoria5</li>
            <li>Categoria6</li>
            <li>Categoria7</li>
            <li>Categoria8</li>
            <li>Categoria9</li>
            <li>Categoria10</li>
            
        </ul>
    </aside>
    <footer><small>copyright &copy; 2025 made with 🎮</small></footer>
</body>

</html>